$btn-score-color:                $white !default;
$btn-score-bg:                   $color-scheme !default;
$btn-score-border:               $btn-score-bg !default;

$btn-securitec-color:            $white !default;
$btn-securitec-bg:               $color-securitec !default;
$btn-securitec-border:           $btn-securitec-bg !default;

.btn-score {
  color: $btn-score-color;
  background-color: $btn-score-bg;
  border-color: $btn-score-border;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-securitec {
  color: $btn-securitec-color;
  background-color: $color-securitec;
  border-color: $color-securitec;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-securitec:hover {
  color: $btn-securitec-color;
  background-color: $color-securitec-hover;
  border-color: $color-securitec-hover;
}

.bg-score {
  background-color: $color-scheme !important;
}

.bg-score:hover {
  color: $btn-securitec-color;
  background-color: $color-scheme-hover;
  border-color: $color-scheme-hover;
}


.bg-securitec {
  background-color: $color-securitec !important;
}

.text-score {
  color: $color-scheme !important;
}

.text-securitec {
  color: $color-securitec !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $color-scheme;
  border: 0px none $color-scheme;
}
::-webkit-scrollbar-thumb:hover {
  background: $color-scheme;
}
::-webkit-scrollbar-thumb:active {
  background: $color-scheme;
}
::-webkit-scrollbar-track {
  background: #f5f7fa;
  border: 0px none #f5f7fa;
}
::-webkit-scrollbar-track:hover {
  background: #f5f7fa;
  border: 0px none #f5f7fa;
}
::-webkit-scrollbar-track:active {
  background: #f5f7fa;
}
::-webkit-scrollbar-corner {
  background: transparent;
}